<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
        <a :href="baseUrl + '/admin'" class="btn btn-secondary ml-auto">
            Zpět
        </a>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h1 class="text-center">Objednávky</h1>
          <hr>
          <div class="d-flex">
            <div class="d-flex mx-auto">
              <button class="mx-3" :class="option == 0 ? 'btn btn-danger' : 'btn btn-outline-danger'" v-on:click="changeOption(0)">Nevyřízené</button>
              <button class="mx-3" :class="option == 1 ? 'btn btn-success' : 'btn btn-outline-success'" v-on:click="changeOption(1)">Vyřízené</button>
            </div>
          </div>
          <div class="mx-auto order-box my-4 p-2 border border-dark" v-for="order in orders" :key="order.id">
            <div class="d-flex">
              <p class="mr-auto">ID objednávky: {{ order.id }}</p>
              <div class="ml-auto">
                <p class="text-danger pb-1 my-1" v-if="order.attributes.status == 0">Nevyřízená</p>
                <p class="text-success pb-1 my-1 ml-auto" v-else>Vyřízená</p>
                <p class="py-0 mt-0">{{ order.attributes.created_at }}</p>
              </div>
            </div>
            <div class="d-flex mt-auto">
              <h5 class="text-success">{{ order.attributes.total }}Kč</h5>
              <button class="btn btn-primary ml-auto" @click="showModal(order.id)">Zobrazit objednávku</button>
            </div>
            <modal :name="order.id" :resizable="true" :adaptive="true" :width="900" :height="800">
              <div class="modal-dialog modal-dialog-scrollable modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                        <p class="mr-auto">ID objednávky: {{ order.id }}</p>
                        <div class="ml-auto">
                          <p class="text-danger pb-1 my-1" v-if="order.attributes.status == 0">Nevyřízená</p>
                          <p class="text-success pb-1 my-1 ml-auto" v-else>Vyřízená</p>
                          <p class="py-0 mt-0">{{ order.attributes.created_at }}</p>
                        </div>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex">
                            <div class="mr-4">
                              <p>E-mail:</p>
                              <p>Jméno:</p>
                              <p>Příjmení:</p>
                              <p>Město:</p>
                              <p>Ulice:</p>
                              <p>PSČ:</p>
                              <p>Telefonní číslo:</p>
                              <p>Doručení:</p>
                              <p>Platba:</p>
                            </div>
                            <div>
                              <p>{{ order.attributes.email }}</p>
                              <p>{{ order.attributes.first_name }}</p>
                              <p>{{ order.attributes.last_name }}</p>
                              <p>{{ order.attributes.city }}</p>
                              <p>{{ order.attributes.street }}</p>
                              <p>{{ order.attributes.zipcode }}</p>
                              <p>{{ order.attributes.phone }}</p>
                              <p>{{ order.attributes.delivery }}</p>
                              <p>{{ order.attributes.payment }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="d-flex" v-for="product in order.attributes.product_values" :key="product.id">
                            <div style="width: 30%;">
                              <p>{{ product.attributes.count }}x {{ product.attributes.name }}</p>
                            </div>
                            <div class="mx-2">
                              <p v-for="attribute in product.attributes.values" :key="attribute.id">
                                {{ attribute.attributes.display_name }} - {{ attribute.attributes.value.attributes.display_value }}
                              </p>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                      <hr>
                      <h2>Celková cena: {{ order.attributes.total }}Kč</h2>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal(order.id)">Zavřít</button>
                      <button type="button" class="btn btn-primary" @click="acceptOrder(order.id)" v-if="order.attributes.status == 0">Příjmout objednávku</button>
                    </div>
                  </div>
              </div>
            </modal>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      orders: "",
      option: 0,
      baseUrl: "",
      permissions: 2,
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
     this.getOrders()
     this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getOrders() {
      axios
          .get('/api/orders/')
          .then((res) => {
            if(this.option == 0) {
              this.orders = res.data.data.filter(order => order.attributes.status == 0)
            } else if(this.option == 1) {
              this.orders = res.data.data.filter(order => order.attributes.status == 1)
            }
          })
    },
    acceptOrder(order_id) {
      axios
          .put('/api/orders/' + order_id, {})
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          this.getOrders()
          })
    },
    changeOption(option) {
      this.option = option
      this.getOrders()
    },
    showModal(order_id) {
      this.$modal.show(order_id)
    },
    closeModal(order_id) {
      this.$modal.hide(order_id)
    },
  },
};
</script>