<template>
    <div v-if="permissions == 1">
        <div class="container adminmenu">
            <div class="row">
                <div class="col">
                    <h1 class="text-center my-3">Admin menu</h1>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <a :href="baseUrl + '/admin/products'" class="btn btn-outline-primary d-block mx-auto my-3">
                                Produkty
                            </a>
                            
                            <a :href="baseUrl + '/admin/categories'" class="btn btn-outline-primary d-block mx-auto my-3">
                                Kategorie
                            </a>
                        </div>
                        <div class="col">
                            <a :href="baseUrl + '/admin/attributes'" class="btn btn-outline-success d-block mx-auto my-3">
                                Možnosti produktu
                            </a>
                        </div>
                        <div class="col">
                            <a :href="baseUrl + '/admin/orders'" class="btn btn-outline-danger d-block mx-auto my-3 position-relative">
                                <span class="px-3 py-1 rounded-pill bg-dark position-absolute text-white" style="top: -15px; right: -25px;">{{ orders.length }}</span>
                                Objednávky
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="permissions == 0">
        <p class="text-center">Nemáte dostatečná práva</p>
    </div>
</template>

<script>
export default {
  data() {
    return {
      orders: "",
      baseUrl: "",
      permissions: 2,
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
      this.getOrders()
      this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
      getOrders() {
        axios
            .get('/api/orders')
            .then((res) => {
                this.orders = res.data.data.filter(order => order.attributes.status == 0)
            })
      },
  }
};
</script>
