<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
        <a :href="baseUrl + '/admin/categories'" class="btn btn-secondary ml-auto">
          Zpět
        </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Upravení kategorie</h1>
        <hr>
        <div v-if="category.length != 0 && category != '0'" class="col text-center position-relative">
          <button class="btn btn-danger ml-auto position-absolute top-0 end-0" v-on:click="deleteCategory()">Odebrat kategorii</button>
          <form method="PUT" @submit.prevent="updateCategory()" novalidate="novalidate" @keydown="clearError">
            <h3>Jméno kategorie</h3>
            <input type="text" name="display_name" class="d-block mx-auto my-2" v-model="form.display_name">
              <div v-if="hasError('display_name')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

            <h3>Jméno kategorie bez háčků, čárek, speciálních znaků a mezer</h3>
            <input type="text" name="slug" class="d-block mx-auto my-2" v-model="form.slug">
              <div v-if="hasError('slug')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

            <h3>Fotka kategorie</h3>
            <input type="file" class="d-block mx-auto my-2" @change="processImage">
              <h5 class="text-center">Podkategorie</h5>
              <p class="my-1" v-for="subcategory in category.attributes.subcategories" :key="subcategory.id">
                <a :href="baseUrl + '/admin/edit/subcategory/' + subcategory.id">
                  {{ subcategory.display_name }}
                </a>
              </p>
              <hr>
            <button class="btn btn-success" type="submit">Upravit</button>
          </form>
        </div>
        <p v-else-if="category == '0'" class="text-center">Kategorie nebyla nalezena</p>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      category: "",
      form: {
        display_name: "",
        slug: "",
        image: "",
      },
      category_url_id: "",
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.category_url_id = window.location.href.split('/').pop()
    this.baseUrl = window.location.origin
  },
  mounted() {
      this.getCategory()
      this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getCategory() {
      axios
          .get('/api/categories/' + this.category_url_id)
          .then((res) => {
              this.form.display_name = res.data.data.attributes.display_name
              this.form.slug = res.data.data.attributes.slug
              this.category = res.data.data
          })
          .catch((error) => {
              this.category = '0'
          })
    },
    updateCategory() {
      axios
          .put('/api/categories/' + this.category_url_id,{
            display_name: this.form.display_name,
            slug: this.form.slug
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          this.updateCategoryImage(res.data.category)
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    updateCategoryImage(categoryId) {
      let formData = new FormData
      formData.set('image', this.form.image)
      formData.set('category', categoryId)
      axios
          .post('/api/categories/storeImage', formData)
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
    },
    deleteCategory() {
      axios
          .delete('/api/categories/' + this.category_url_id)
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
      this.getCategory()
    },
    processImage(e) {
      this.form.image = e.target.files[0];
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>
