<template>
    <div v-if="permissions == 1">
        <div class="container">
            <div class="d-flex">
                <a :href="baseUrl + '/admin'" class="btn btn-secondary ml-auto">
                    Zpět
                </a>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h1 class="text-center">Všechny kategorie:</h1>
                    <hr>
                    <div class="grid d-flex w-100 justify-content-center">
                        <div class="category-photo m-2 position-relative" v-for="category in categories" :key="category.id">
                            <button 
                                :class="(category.attributes.featured == 1) ? 'star-icon-full' : 'star-icon'" 
                                class="clear-button position-absolute h3 end-0 top-0 m-2" 
                                @click="toggleFeatured(category.id)">
                            </button>
                            <a :href="baseUrl + '/admin/edit/category/' + category.id">
                                <img :src="category.attributes.image" class="w-100">
                            </a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <a class="btn btn-success mx-auto my-2" :href="baseUrl + '/admin/new/category'">Vytvořit novou kategorii</a>
                    </div>
                    <div class="d-flex">
                        <a class="btn btn-primary mx-auto my-2" :href="baseUrl + '/admin/new/subcategory'">Vytvořit novou podkategorii</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="permissions == 0">
        <p class="text-center">Nemáte dostatečná práva</p>
    </div>
</template>

<script>
export default {
  data() {
    return {
      categories: "",
      baseUrl: "",
      permissions: 2,
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
      this.getCategories()
      this.getPermissions()
  },
  methods: {
      getPermissions() {
        axios
            .get('/api/permissions')
            .then((res) => {
                this.permissions = res.data.show
            })
    },
    getCategories() {
        axios
            .get('/api/categories/')
            .then((res) => {
                this.categories = res.data.data
            })
    },
    toggleFeatured(categoryId) {
        axios
            .post('/api/categories/updateFeatured', {
                category: categoryId
            })
            .then((res) => {
                if(res.data.error) {
                    toastr.error(res.data.error)
                } else if(res.data.warning) {
                    toastr.warning(res.data.warning)
                } else if(res.data.success) {
                    toastr.success(res.data.success)
                }
            this.getCategories()
            })
    },
  },
};
</script>