.adminmenu {
    a {
        width: 200px;
    }
    button {
        width: 200px;
    }
}

.admin-option-box {
    width: 300px;
    height: 80px;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .fa-pencil-alt {
        color: orange;
        &:hover {
            font-size: 2rem;
        }
    }
    &:hover {
        background-color: #73b7ff;
        transition: .5s all ease;
    }
}
.order-box {
    width: 50%;
    height: 130px;
}
