.product-cart-box {
    width: 100%;
    min-height: 200px;

    .product-image {
        width: 20%;
    }
    .product-name {
        width: 20%;
    }
    .product-price {
        width: 10%;
    }
    .product-attributes {
        width: 50%;
        flex-wrap: wrap;
    }
    .product-count {
        width: 10%;
        input {
            width: 50px;
            height: 40px;
        }
    }
    .fa-times {
        top: 15px;
        right: 15px;
        color: rgb(255, 92, 92);
        font-size: 2rem;
        &:hover {
            color: red;
        }
    }
}
.product-cart-placeholder {
    width: 100%;
    height: 40px;
    background-color: rgb(58, 58, 58);

    .image-placeholder {
        width: 20%;
    }
    .name-placeholder {
        width: 20%;
    }
    .price-placeholder {
        width: 10%;
    }
    .attributes-placeholder {
        width: 50%;
    }
    .count-placeholder {
        width: 10%;
    }
}
.cart-total-box {
    width: 100%;
    margin-top: 100px;
}
.checkout-box {
    input {
        width: 80%;
    }
}
.payment-option-box {
    height: 70px;
    width: 80%;
    
    .checkbox-box {
        width: 77%;
        margin-left: 8%;
    }
    .image-box {
        width: 15%;
        height: 70%;
    }
    input[type="radio"] {
        display: none;
    }

    label {
        position: relative;
    }

    label::before {
        content: "";
        background: url('../images/check-circle.svg');
        background-position: center;
        background-size: contain;
        width: 32px;
        height: 32px;
        position: absolute;
        left: -44px;
        top: -6px;
        z-index: 999;
        transform: scale(0) rotateZ(180deg);
        transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
        cursor: pointer;
    }

    input[type="radio"]:checked + label::before {
        transform: scale(1) rotateZ(0deg);
    }

    label::after {
        content: "";
        border: 2px solid #27ae60;
        width: 29px;
        height: 29px;
        position: absolute;
        left: -42px;
        top: -4px;
        border-radius: 50%;
        cursor: pointer;
    }
}

.cart-review-box {
    width: 100%;

    .product-name {
        width: 35%;
    }
    .product-attributes {
        width: 35%;
    }
    .product-count {
        width: 15%;
    }
    .product-price {
        width: 15%;
    }
}






.nav-cart {
    background-color: rgb(43, 43, 43);
}

