//produkt na samostatny strance
.product-box {
    width: 100%;
    height: 600px;
    .product-description-box {
        width: 50%;
        min-height: 80%;
        max-height: 100%;
        .product-description {
            width: 100%;
            height: 30%;
        }
        .product-price {
            height: 20%;
        }
    }
    
}
.product-buttons {
    width: 100%;
    height: auto;
    
    .product-sizes {
        width: 60%;
        flex-wrap: wrap;
    }
    .product-count {
        width: 50px;
        input {
            height: 40px;
        }
    }
    .product-buy-button {
        width: 20%;
    }
}
.product-select {
    width: 150px;
    select {
        width: 150px;
        height:40px;
    }
}


//produkt v obchodu
.grid {
    flex-wrap: wrap;
}
.product-item {
    width: 230px;
    height: 350px;
    .product-image {
        width: 100%;
        height: 230px;
    }
    .product-name {
        width: 100%;
        height: 50px;
    }
    .product-rating {
        width: 100%;
        height: 20px;
    }
    .product-footer {
        width: 100%;
        height: 50px;
    }
}
.product-search-box {
    width: 400px !important;
    max-height: 300px;
    top: 110px;
    z-index: 9999
}
.product-search {
    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: none; 
            color: black;
        }
    }
    &:hover {
        background-color: rgb(194, 194, 194);
        color: black;
    }
}
.rating-box {
    min-height: 100px;
    width: 80%;
    .rating-name {
        width: 30%;
    }
    .rating-text {
        width: 70%;
    }
}
