// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-blue: rgb(103, 250, 255);

.bg-lightgreen {
    background-color: #0ed076;
}
.bg-lightblue {
    background-color: $light-blue;
}
.bg-outofstock {
    background-color: rgba(172, 172, 172, 0.452);
}
.bg-search {
    background-color: rgb(255, 255, 255);
}
.bordertest {
    border-left: 10px solid $light-blue;
}

.clear-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
