// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'media';
@import 'variables';
@import 'menu';
@import 'product';
@import 'admin';
@import 'cart';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'sweetalert2/dist/sweetalert2.min.css';


main {
    min-height: 80vh;
}
nav {
    height: 120px !important;
}

.welcome-box {
    min-height: 700px;
    width: 100%;
    .welcome-main {
        background: url('../images/welcome-main.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        
    }
    h2 {
        font-size: 40px !important;
    }
    .vyhledavani {
        width: 400px;
        height: 60px;
        transform: translate(85px);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
    }
    .vyhledavani-btn {
        height: 60px;
        width: 60px;
        margin-left: 115px;
        background-color: #00DEF8;
        border-radius: 50%;
    }
    #kategorie {
        margin-top: 340px;
    }
}
.category-photo {
    width: 250px;
    height: 320px;
}
[v-cloak] {
    display: none;
}

.star-icon::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    
}
.star-icon:hover {
    font-weight: 900 !important;
    color: yellow;
}
.star-icon-full::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: yellow;
}