<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
          <a :href="baseUrl + '/admin/attributes'" class="btn btn-secondary ml-auto">
              Zpět
          </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Nová hodnota</h1>
        <hr>
        <div class="col text-center">
          <form method="POST" @submit.prevent="storeValue()" novalidate="novalidate" @keydown="clearError">
            <h3>Jméno hodnoty</h3>
            <input type="text" class="d-block mx-auto my-2" v-model="form.display_value">
            <div v-if="hasError('display_value')">
              <p class="text-danger">Tohle pole je povinné!</p>
            </div>

            <h3>Jméno hodnoty bez háčků, čárek, speciálních znaků a mezer</h3>
            <input type="text" class="d-block mx-auto my-2" v-model="form.slug">
            <div v-if="hasError('slug')">
              <p class="text-danger">Tohle pole je povinné!</p>
            </div>

            <div class="d-flex">
              <div class="product-select my-2 mx-auto">
                <p class="m-0 text-left">Vybrat možnost</p>
                <select v-model="form.attribute">
                  <option :value="attribute.id" v-for="attribute in attributes" :key="attribute.id">
                    {{ attribute.attributes.display_name }}
                  </option>
                </select>
              </div>
            </div>
            <div v-if="hasError('attribute')">
              <p class="text-danger">Tohle pole je povinné!</p>
            </div>
            <hr>
            <button class="btn btn-success" type="submit">Vytvořit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      attributes: "",
      form: {
        display_value: "",
        slug: "",
        attribute: "",
      },
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getAttributes()
    this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getAttributes() {
      axios
          .get('/api/attributes')
          .then((res) => {
              this.attributes = res.data.data
          })
    },
    storeValue() {
      axios
          .post('/api/admin/values',{
            display_value: this.form.display_value,
            slug: this.form.slug,
            attribute: this.form.attribute,
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>