<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
        <a :href="baseUrl + '/admin/attributes'" class="btn btn-secondary ml-auto">
            Zpět
        </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Upravit hodnotu</h1>
        <hr>
        <div v-if="value.length != 0 && value != '0'" class="col text-center position-relative">
          <button class="btn btn-danger ml-auto position-absolute top-0 end-0" v-on:click="deleteValue()">Odebrat hodnotu</button>
          <form method="PUT" @submit.prevent="editValue()" novalidate="novalidate" @keydown="clearError">
            <h3>Jméno hodnoty</h3>
            <input type="text" class="d-block mx-auto my-2" v-model="form.display_value">
              <div v-if="hasError('display_value')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>
            <h3>Jméno hodnoty bez háčků, čárek, speciálních znaků a mezer</h3>
            <input type="text" name="slug" class="d-block mx-auto my-2" v-model="form.slug">
              <div v-if="hasError('slug')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>
              <hr>
            <button class="btn btn-success" type="submit">Upravit</button>
          </form>
        </div>
        <p v-else-if="value == '0'" class="text-center">Hodnota nebyla nalezena</p>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: "",
      form: {
        display_value: "",
        slug: "",
      },
      value_url_id: "",
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.value_url_id = window.location.href.split('/').pop()
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getValue()
    this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getValue() {
      axios
          .get('/api/admin/values/' + this.value_url_id)
          .then((res) => {
              this.form.display_value = res.data.data.attributes.display_value
              this.form.slug = res.data.data.attributes.slug
              this.value = res.data.data
          })
          .catch((error) => {
              this.value = '0'
          })
    },
    editValue() {
      axios
          .put('/api/admin/values/' + this.value_url_id,{
            display_value: this.form.display_value,
            slug: this.form.slug
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    deleteValue() {
      axios
          .delete('/api/admin/values/' + this.value_url_id)
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
      this.getValue()
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>