<template>
  <div>
    <h1 class="text-center">Kategorie</h1>
    <hr>
    <div class="grid d-flex w-100 justify-content-center">
      <div class="category-photo m-2 position-relative" v-for="category in categories" :key="category.id">
        <a :href="baseUrl + '/obchod/' + category.attributes.slug">
          <img :src="category.attributes.image" class="w-100">
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['cartSession'],
  data() {
    return {
      categories: "",
      baseUrl: "",
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getCategories()
  },
  methods: {
    getCategories() {
      axios
          .get('/api/categories')
          .then((res) => {
                  this.categories = res.data.data;
          })
    },
  },
};
</script>