<template>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="welcome-box position-relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="303" height="541.5" viewBox="0 0 315 541.5" class="position-absolute" style="top: 21%; left: 50%;">
          <line id="Line_1" data-name="Line 1" y2="329" transform="translate(0.5 212.5)" fill="none" stroke="#13aaee" stroke-width="1" stroke-dasharray="22"/>
          <path id="Path_3" data-name="Path 3" d="M0,119.377S97.265,122.841,139.868,93,165.323.184,165.323.184" transform="translate(110.5 66.5)" fill="#fff" stroke="#09a7ee" stroke-width="1" stroke-dasharray="22"/>
        </svg>
          <img :src="baseUrl + '/images/telefon.png' " class="position-absolute" style="left: 100px; top: 10%;">
          <img :src="baseUrl + '/images/product_u_vas.png'" class="position-absolute" style="right: 22%; top: 55%;">
          <h1 class="text-dark text-bold text-center mt-5">Nakupování na internetu nikdy nebylo snažší.</h1>
          <div class="row justify-content-center position-relative">
            <input type="text" class="my-5 vyhledavani" placeholder="Vyhledat produkt" 
                  v-model="search" 
                  v-on:input="searchProducts()">
            <div class="product-search-box overflow-auto position-absolute bg-search p-0" v-if="search ">
              <div v-if="message">
                <p>{{ message }}</p>
              </div>
              <div class="product-search my-1" v-else v-for="product in products" :key="product.id">
                <a :href="'/product/' + product.id">
                  <div class="d-flex">
                    <p class="my-0 ml-2 mr-auto">{{ product.attributes.name }}</p>
                    <p class="my-0 mr-4 ml-auto text-success">{{ product.attributes.price }}Kč</p>
                  </div>
                </a>
              </div>
            </div>
            <button class="vyhledavani-btn my-5 border-0 position-relative" @click="searchProducts()">
                <i class="fas fa-search position-absolute top-50 start-50 translate-middle h4"></i>
            </button>
          </div>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-success text-center mt-2 ml-2" style="width: 180px; z-index: 500;" href="#kategorie" role="button">
                Oblíbené kategorie
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div id="kategorie" class="border w-75 text-center border-dark">
            <h1 class="text-center mt-2">Oblíbené kategorie</h1>
            <div class="grid d-flex w-100 justify-content-center">
                <div class="category-photo m-2 position-relative" v-for="category in categories" :key="category.id">
                    <a :href="baseUrl + '/obchod/' + category.attributes.slug">
                        <img :src="category.attributes.image" class="w-100">
                    </a>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
              <a href="" class="btn btn-primary" role="button" style="width: 250px;">
                Zobrazit všechny kategorie
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-5">
          <div class="border w-75 justify-content-center border-dark">
            <h1 class="text-center mt-2">Oblíbené produkty</h1>
            <div class="grid d-flex justify-content-center">
              <div class="product-item m-3" v-for="product in products" :key="product.id">
                <div class="product-image">
                  <a href="">
                    <img :src="product.attributes.image" width="100%;" height="100%;">
                  </a>
                </div>
                  <div class="product-name ">
                    <p class="text-center h6">{{ product.attributes.name }}</p>
                  </div>

                  <div class="product-rating">
                    <star-rating :rating="product.attributes.rating" :read-only="true" :show-rating="false" :star-size="20" />
                  </div>
                    <div class="product-footer d-flex ">
                      <div class="my-auto d-flex" v-if="product.attributes.last_price == 0">
                        <h5>{{ product.attributes.price }}Kč</h5>
                      </div>
                      <div class="my-auto d-flex" v-else>
                        <h5 class="text-danger text-decoration-line-through mr-2">{{ product.attributes.last_price }}Kč</h5>
                        <h5>{{ product.attributes.price }}Kč</h5>
                      </div>
                      <button class="btn btn-success ml-auto position-relative" style="width: 50px" v-on:click="addToCart(product.id)">
                        <i class="fas fa-shopping-basket position-absolute top-50 start-50 translate-middle h4"></i>
                      </button>
                    </div>
              </div>
            </div>
              <div class="row justify-content-center my-3 mt-5">
                <a href="/obchod" class="btn btn-primary" role="button" style="width: 250px;">
                  Zobrazit všechny produkty
                </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import StarRating from 'vue-star-rating'
    export default {
      components: {
        StarRating
      },
        data() {
            return {
              products: {},
              message: '',
              search: '',
              categories: '',
              baseUrl: ''
            }
        },
        created() {
            this.baseUrl = window.location.origin
        },
        mounted() {
            this.getCategories()
            this.getProducts()
        },
        methods: {
          getCategories() {
              axios
                  .get('/api/featured/categories')
                  .then((res) => {
                      this.categories = res.data.data;
                  })
          },
          getProducts() {
              axios
                  .get('/api/featured/products')
                  .then((res) => {
                      this.products = res.data.data;
                  })
          },
          searchProducts() {
            axios
                .post('/product/search', {
                  productName: this.search
                })
                .then((res) => {
                  if(res.data.message) {
                    this.message = res.data.message
                  } else {
                    this.products = res.data.data
                    this.message = ''
                  }
                })
          },
          addToCart(productId) {
            axios
                .post('/cart/add', {
                  product: productId,
                })
                .then((res) => {
                  if(res.data.error) {
                    toastr.error(res.data.error)
                  } else if(res.data.warning) {
                    toastr.warning(res.data.warning)
                  } else if(res.data.success) {
                    toastr.success(res.data.success)
                  }
                })
          },
        },
    }
</script>