<template>
    <div class="row justify-content-center">
        <h1 class="text-center mb-5">Menu</h1>
        <div class="category-menu text-left border border-dark p-0">
            <div v-for="category in categories" :key="category.id">
                <a :href="'/obchod/' + category.attributes.slug"
                    class="d-block nav-link text-dark h6 my-0 "
                   :class="currentUrl == '/obchod/' + category.attributes.slug ||
                           currentUrl == '/obchod/' + category.attributes.slug + '/' + subcategoryUrl ? 'bordertest' : ''">

                    <i v-if="currentUrl == '/obchod/' + category.attributes.slug ||
                             currentUrl == '/obchod/' + category.attributes.slug + '/' + subcategoryUrl" class="fas fa-minus"></i>  
                    <i v-else class="fas fa-plus"></i>
                    {{ category.attributes.display_name }} 
                </a>
                <div v-if="currentUrl == '/obchod/' + category.attributes.slug ||
                           currentUrl == '/obchod/' + category.attributes.slug + '/' + subcategoryUrl" class="justify-content-right">
                    <a :href="'/obchod/' + category.attributes.slug + '/' + subcategory.slug" 
                        v-for="subcategory in category.attributes.subcategories"
                       :key="subcategory.id"
                        class="d-block nav-link text-dark text-left ml-auto py-0 my-1" style="width: 90%;"
                       :class="subcategoryUrl == subcategory.slug ? 'bordertest' : ''">
                          - {{ subcategory.display_name }} 
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['routeUrl', 'subcategoryUrl'],
        data() {
            return {
                categories: '',
                currentUrl: ''
            }
        },
        mounted() {
            this.getCategories()
            this.currentUrl = window.location.pathname
        },
        methods: {
            getCategories() {
                axios
                    .get('/api/categories')
                    .then((res) => {
                        this.categories = res.data.data;
                    })
            },
        },
    }
</script>