<template>
  <div>
    <div class="container">
      <h4 class="text-center">Prodej produktu</h4>
        <line-chart :data="lineData"></line-chart>
    </div>
  </div>
</template>

<script>
export default {
  props: ['cartSession'],
  data() {
    return {
        productId: '',
        product: {},
        lineData: [],
        search: '',
        products: {},
        message: ''
    };
  },

  created() {
    this.productId = window.location.href.split('/').pop()
  },
  mounted() {
    this.getProductIds()
  },
  methods: {
    getProductIds() {
              axios
                  .get('/api/products/' + this.productId)
                  .then((res) => {
                      this.product = res.data.data
                      for(let i = 0; i < this.product.attributes.solds.length; i++) {
                        this.lineData.push([this.product.attributes.solds[i].created_at, this.product.attributes.solds[i].count])
                      }
                  })
            },
  },
};
</script>