<template>
  <div>
    <div class="d-flex border" style="margin-right: 100px;">
      <div class="mr-auto d-flex">
        <button class="mr-2" :class="(filter.cheapest == 0 ? 'btn btn-outline-success' : 'btn btn-success')" @click="search('cheapest')">Nejlevnější</button>
        <button class="btn mx-2" :class="(filter.expensive == 0 ? 'btn btn-outline-danger' : 'btn btn-danger')" @click="search('expensive')">Nejdražší</button>
        <button class="btn mx-2" :class="(filter.sale == 0 ? 'btn btn-outline-warning' : 'btn btn-warning')" @click="search('sale')">Sleva</button>
      </div>
    </div>
    <div class="grid d-flex">
      <div v-for="(product, index) in products" :key="product.id" class="product-item m-3">
        <div class="product-image position-relative">
          <a :href="'/product/' + product.id">
            <img :src="product.attributes.image" width="100%;" height="100%;">
          </a>
        <p class="position-absolute px-3 py-1 rounded-pill bg-warning" style="right: -30px; top: -20px;" v-if="product.attributes.last_price > 0">{{ getProductSale(index) }}%</p>
        </div>
    
        <div class="product-name">
          <p class="text-center h6 mt-2">{{ product.attributes.name }}</p>
        </div>

        <div class="product-rating">
            <star-rating :rating="product.attributes.rating" :read-only="true" :show-rating="false" :star-size="20" />
        </div>

        <div class="product-footer d-flex">
          <div class="my-auto d-flex" v-if="product.attributes.last_price == 0">
            <h5>{{ product.attributes.price }}Kč</h5>
          </div>
          <div class="my-auto d-flex" v-else>
            <h5 class="text-danger text-decoration-line-through mr-2">{{ product.attributes.last_price }}Kč</h5>
            <h5>{{ product.attributes.price }}Kč</h5>
          </div>
          <button class="btn btn-success ml-auto position-relative" style="width: 50px" v-on:click="addToCart(product.id)">
            <i class="fas fa-shopping-basket position-absolute top-50 start-50 translate-middle h4"></i>
          </button>
        </div>
      </div>
      
      <div class="d-flex w-100">
        <div class="mx-auto">
          <Page :total="meta.total" :current="meta.current_page" @on-change="getProducts"></Page>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StarRating from 'vue-star-rating'
import { Page } from 'view-design';
Vue.component('Page', Page);
export default {
  components: {
    StarRating
  },
  props: ['routeUrl','category', 'subcategoryUrl'],
  data() {
    return {
      apiLink: "",
      products: '',
      filter: {
        cheapest: 0,
        expensive: 0,
        sale: 0,
      },
      links: {},
      meta: {},
    };
  },
  mounted() {
    this.getProducts();
  },
  methods: {
    getProducts(page = 1) {
        if (this.routeUrl == "products.category") {
          this.apiLink = "/api/categories/" + this.category + "/products"
        } else if(this.routeUrl == "products.subcategory") {
          this.apiLink = "/api/subcategories/" + this.subcategoryUrl + "/products"
        } else {
          this.apiLink = "/api/products"
        }
        if(page != 1) {
          this.apiLink = this.apiLink + "/?page=" + page
        }
        axios
            .get(this.apiLink)
            .then((res) => {
                this.products = res.data.data;
                this.links = res.data.links
                this.meta = res.data.meta
            })
    },
    addToCart(productId) {
      axios
          .post('/cart/add', {
            product: productId,
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
    },
    search(type) {
      if(type == 'cheapest') {
        if(this.filter.cheapest == 0) {
          this.filter.cheapest = 1
          this.filter.expensive = 0
        } else {
          this.filter.cheapest = 0
        }
      } else if(type == 'expensive') {
        if(this.filter.expensive == 0) {
          this.filter.expensive = 1
          this.filter.cheapest = 0
        } else {
          this.filter.expensive = 0
        }
      } else if(type == 'sale') {
        if(this.filter.sale == 0) {
          this.filter.sale = 1
        } else {
          this.filter.sale = 0
        }
      }
      if(this.filter.cheapest == 0 && this.filter.expensive == 0 && this.filter.sale == 0) {
        this.getProducts()
      } else {
        axios 
          .post('/product/filter', {
            products: this.products,
            filter: this.filter,
            category: this.category,
            subcategory: this.subcategoryUrl
          })
          .then((res) => {
            console.log(res.data)
            this.products = res.data.data
          })
      }
    },
    getProductSale(index) {
      return 100 - Math.round(this.products[index].attributes.price / this.products[index].attributes.last_price * 100)
    }
  },
};
</script>
