<template>
  <div class="position-relative">
    <div class="position-relative">
        <input type="text" class="my-auto vyhledavani p-2" placeholder="Vyhledat produkt" style="width: 400px; height: 50px;"
           v-model="search" v-on:input="searchProducts()">
        <button class="clearbtn position-absolute position-relative" style="right: 20px; top: 23px;" v-if="search" @click="search = ''">
          <i class="fas fa-times text-danger h3 position-absolute top-50 start-50 translate-middle"></i>
        </button>
    </div>
    <div class="product-search-box overflow-auto position-absolute bg-search p-0" style="top: 50px;" v-if="search">
        <div v-if="message">
          <p>{{ message }}</p>
        </div>
        <div class="product-search  my-1" v-else v-for="product in products" :key="product.id">
            <a :href="'/product/' + product.id" >
              <div class="d-flex">
                <p class="my-0 ml-2 mr-auto">{{ product.attributes.name }}</p>
                <p class="my-0 mr-4 ml-auto text-success">{{ product.attributes.price }}Kč</p>
              </div>
            </a>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
        search: '',
        products: {},
        message: ''
    };
  },
  methods: {
    searchProducts() {
      axios
          .post('/product/search', {
            productName: this.search
          })
          .then((res) => {
            if(res.data.message) {
              this.message = res.data.message
            } else {
              this.products = res.data.data
              this.message = ''
            }
            console.log(this.products)
          })
    },
  },
};
</script>