<template>
  <div class="container">
    <div class="row mt-5">
      <div class="product-box border position-relative">
        <a :href="'/admin/edit/product/' + product.id" v-if="permissions == 1" >
          <i class="fas fa-pencil-alt position-absolute top-0 end-0 h2 text-primary m-2" style="z-index: 1000;"></i>
        </a>
        <a :href="'/product/chart/' + product.id" v-if="permissions == 1" >
          <i class="far fa-chart-bar position-absolute top-0 h2 text-success m-2" style="z-index: 1000; right: 50px;"></i>
        </a>
        <div class="d-flex h-100">
          <div class="col d-flex">
            <div class="w-25 h-100 mx-auto d-flex">
              <div class="my-auto position-relative" style="max-width:100%; max-height:100%;">
                <img :src="product.attributes.image" class="my-auto" style="max-width:100%; max-height:100%;">
                <p class="position-absolute px-3 py-1 rounded-pill bg-warning" style="right: -30px; top: -20px;" v-if="product.attributes.last_price > 0">{{ productSale }}%</p>
              </div>
            </div>
            <div class="product-description-box my-auto mx-5">
              <h2 class="text-center">{{ product.attributes.name }}</h2>
              <div class="d-flex">
                <div class="d-flex mx-auto mb-1">
                  <star-rating :rating="product.attributes.rating" :read-only="true" :show-rating="false" :star-size="30" />
                </div>
              </div>
              <div class="d-flex">
                <h5 class="ml-2 mx-auto">({{ product.attributes.rating }})</h5>
              </div>
              <div class="product-description">
                <p>{{ product.attributes.description }}</p>
              </div>
              <div class="product-price my-auto">
                <p class="text-success h6 mr-2">Skladem</p>
                <div v-if="product.attributes.last_price == 0">
                  <h2>{{ product.attributes.price }}Kč</h2>
                </div>
                <div class="d-flex" v-else>
                  <h2 class="text-danger text-decoration-line-through mr-2">{{ product.attributes.last_price }}Kč</h2>
                  <h2>{{ product.attributes.price }}Kč</h2>
                </div>
              </div>
              <div class="product-buttons d-flex">
                <div class="product-sizes my-auto d-flex" >
                  <div class="product-select mb-1 mr-4 mt-3 position-relative" v-for="attribute in product.attributes.attribute_values" :key="attribute.id">
                      <div v-for="formValue in form.values" :key="formValue">
                        <p class="text-danger position-absolute" style="top: -20px;" v-if="checkStock(formValue, attribute.values)">
                          Vyprodáno
                        </p>
                      </div>
                    <p class="m-0">{{ attribute.display_name }}</p>
                    <select @input="processSelect($event, attribute.id)">
                      <option :value="value.id" v-for="value in attribute.values" :key="value.id" >
                        {{ value.attributes.display_value }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="product-count text-left mt-3 mb-1">
                  <p class="m-0">Počet</p>
                  <input type="number" v-model="form.count" class="w-100" min="0" oninput="if(this.value < 1) {this.value = 1}">
                </div>
              </div>
              <div class="d-flex">
                <button class="btn btn-success ml-auto mt-3" v-on:click="addToCart()">Koupit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-center mt-2">Recenze ({{ productRatings.length }})</h3>
        <hr class="my-2">
        <div class="d-flex">
          <button class="btn btn-success mx-auto" v-on:click="showModal()">Přidat recenzi</button>
          <modal name="rating-modal" :resizable="true" :adaptive="true" :width="900" :height="700">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="mx-auto">Přidat recenzi</h5>
                </div>
                <div class="modal-body">
                  <p class="text-center my-2">Počet hvězdiček</p>
                  <div class="d-flex">
                    <star-rating :show-rating="false" class="mx-auto" v-model="stars"/>
                  </div>
                  <p class="text-center my-2">Recenze</p>
                  <textarea cols="30" rows="10" class="w-100 " v-model="text"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="closeModal()">Zpět</button>
                  <button type="button" class="btn btn-primary" @click="storeRating">Přidat recenzi</button>
                </div>
              </div>
            </div>
          </modal>
        </div>
        <div>
          <div class="rating-box border border-dark mx-auto d-flex my-2" v-for="rating in productRatings" :key="rating.id">
            <div class="rating-name my-auto">
              <h5 class="text-center">{{ rating.attributes.user }}</h5>
              <div class="d-flex">
                <star-rating :rating="rating.attributes.stars" :read-only="true" :show-rating="false" :star-size="20" class="mx-auto"/>
              </div>
            </div>
            <div class="rating-text my-auto position-relative">
              <p>{{ rating.attributes.text }}</p>
              <button class="clearbtn position-absolute position-relative" style="right: 20px; top: 0px;" v-if="canDestroy == rating.id" @click="removeRating(rating.id)">
                  <i class="fas fa-times text-danger h3 position-absolute top-50 start-50 translate-middle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StarRating from 'vue-star-rating'
export default {
  components: {
    StarRating
  },
  data() {
    return {
      stars: 0,
      text: "",
      product: "",
      productValues: {},
      productRatings: {},
      productId: "",
      selectInput: [],
      selectValues: [],
      form: {
        values: [],
        count: 1,
      },
      permissions: 2,
      canDestroy: 0,
    };
  },
  computed: {
    productSale() {
      return 100 - Math.round(this.product.attributes.price / this.product.attributes.last_price * 100)
    }
  },
  created() {
    this.productId = window.location.href.split('/').pop()
  },
  mounted() {
    this.getProduct();
    this.getPermissions()
    this.getProductValues()
    this.getProductRatings()
    this.canDestroyRating()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    checkStock(value, attributeValues) {
      for(let i = 0; i < attributeValues.length; i++) {
        if(attributeValues[i].id == value) {
          let currentValue = this.productValues.filter((productValue) => {
            return productValue.id == value
          })
          if(currentValue[0].attributes.stock == 0) {
            return true
          } else {
            return false
          }
        }
      }
    },
    getProduct() {
       axios
            .get('/api/products/' + this.productId)
            .then((res) => {
                this.product = res.data.data;
                
            })
    },
    getProductValues() {
      axios
          .get('/api/products/' + this.productId + '/values')
          .then((res) => {
              this.productValues = res.data.data
              this.defaultSelect()
          })
            
    },
    getProductRatings() {
      axios
          .get('/api/products/' + this.productId + '/ratings')
          .then((res) => {
              this.productRatings = res.data.data
          })
            
    },
    processSelect(e, attribute) {
      let arr = [
        { attribute_id: attribute, value: e.target.value}
      ]
      this.selectInput.forEach((item, index) => {
        if(item[0].attribute_id == attribute) {
          this.selectInput.splice(index, 1)
        }
      })
      this.selectInput.push(arr)
      this.form.values = []
      this.selectInput.forEach((item) => {
        this.form.values.push(Number(item[0].value))
      })
    },
    defaultSelect() {
      let attributeArray = []
      
      for (let i = 0; i < this.productValues.length; i++) {
        let filtered = attributeArray.filter(attribute => attribute == this.productValues[i].attributes.attribute)

        if(!filtered.length > 0) {
          let select = [
            { attribute_id: this.productValues[i].attributes.attribute, value: this.productValues[i].id}
          ]
          attributeArray.push(this.productValues[i].attributes.attribute)
          this.selectInput.push(select)
          this.form.values.push(this.productValues[i].id)
        } 
      }
    },
    addToCart() {
      axios
          .post('/cart/add', {
            product: this.productId,
            values: this.form.values,
            count: this.form.count
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            }
          })
    },
    storeRating() {
      axios
        .post('/api/products/' + this.productId + '/ratings', {
          text: this.text,
          stars: this.stars
        })
        .then((res) => {
          if(res.data.error) {
            toastr.error(res.data.error)
          } else if(res.data.warning) {
            toastr.warning(res.data.warning)
          } else if(res.data.success) {
            toastr.success(res.data.success)
            this.getProductRatings()
          }
          this.$modal.hide('rating-modal')
        }) 
    },
    removeRating(rating) {
      axios
        .delete('/api/products/' + this.productId + '/ratings/' + rating)
        .then((res) => {
          if(res.data.error) {
            toastr.error(res.data.error)
          } else if(res.data.warning) {
            toastr.warning(res.data.warning)
          } else if(res.data.success) {
            toastr.success(res.data.success)
            this.getProductRatings()
          }
        }) 
    },
    canDestroyRating() {
      axios
          .post('/rating/canDestroy', {
            product: this.productId 
          })
          .then((res) => {
            this.canDestroy = res.data
          })
    },
    showModal() {
      this.$modal.show('rating-modal')
    },
    closeModal() {
      this.$modal.hide('rating-modal')
    },
  },
};
</script>
