<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
          <a :href="baseUrl + '/admin/categories'" class="btn btn-secondary ml-auto">
            Zpět
          </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Vytvoření nové podkategorie</h1>
        <hr>
        <div class="col text-center">
          <form method="POST" @submit.prevent="storeSubcategory()" novalidate="novalidate" @keydown="clearError">
              <h3>Jméno nové podkategorie</h3>
              <input type="text" name="display_name" class="d-block mx-auto my-2" v-model="form.display_name">
              <div v-if="hasError('display_name')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <h3>Jméno nové podkategorie bez háčků, čárek, speciálních znaků a mezer</h3>
              <input type="text" name="slug" class="d-block mx-auto my-2" v-model="form.slug">
              <div v-if="hasError('slug')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <div class="d-flex">
                <div class="product-select my-2 mx-auto">
                  <p class="m-0 text-left">Vybrat kategorii</p>
                  <select v-model="form.category">
                    <option :value="category.id" v-for="category in categories" :key="category.id">
                      {{ category.attributes.display_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div v-if="hasError('category')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>
              <hr>
              <button class="btn btn-success" type="submit">Vytvořit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: "",
      form: {
        display_name: "",
        slug: "",
        category: "",
      },
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getCategories()
    this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getCategories() {
      axios
          .get('/api/categories')
          .then((res) => {
            this.categories = res.data.data
          })
    },
    storeSubcategory() {
      axios
          .post('/api/subcategories',{
            display_name: this.form.display_name,
            slug: this.form.slug,
            category: this.form.category
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>