<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
          <a :href="baseUrl + '/admin/categories'" class="btn btn-secondary ml-auto">
              Zpět
          </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Upravení podkategorie</h1>
        <hr>
        <div v-if="subcategory.length != 0 && subcategory != '0'" class="col text-center position-relative">
          <button class="btn btn-danger ml-auto position-absolute top-0 end-0" v-on:click="deleteSubcategory()">
              Odebrat podkategorii
          </button>
          <form method="PUT" @submit.prevent="editSubcategory()" novalidate="novalidate" @keydown="clearError">
              <h3>Jméno kategorie</h3>
              <input type="text" name="display_name" class="d-block mx-auto my-2" v-model="form.display_name">
                <div v-if="hasError('display_name')">
                  <p class="text-danger">Tohle pole je povinné!</p>
                </div>
              <h3>Jméno kategorie bez háčků, čárek, speciálních znaků a mezer</h3>
              <input type="text" name="slug" class="d-block mx-auto my-2" v-model="form.slug">
                <div v-if="hasError('slug')">
                  <p class="text-danger">Tohle pole je povinné!</p>
                </div>
              <button class="btn btn-success" type="submit">Upravit</button>
          </form>
        </div>
        <p v-else-if="subcategory == '0'" class="text-center">Podkategorie nebyla nalezena</p>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      subcategory: "",
      form: {
        display_name: "",
        slug: "",
      },
      subcategory_url_id: "",
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.baseUrl = window.location.origin
    this.subcategory_url_id = window.location.href.split('/').pop()
  },
  mounted() {
      this.getPermissions()
      this.getSubcategory()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getSubcategory() {
      axios
          .get('/api/subcategories/' + this.subcategory_url_id)
          .then((res) => {
              this.form.display_name = res.data.data.attributes.display_name
              this.form.slug = res.data.data.attributes.slug
              this.subcategory = res.data.data
          })
          .catch((error) => {
              this.subcategory = '0'
          })
    },
    editSubcategory() {
      axios
          .put('/api/subcategories/' + this.subcategory_url_id,{
            display_name: this.form.display_name,
            slug: this.form.slug
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    deleteSubcategory() {
      axios
          .delete('/api/subcategories/' + this.subcategory_url_id)
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
      this.getSubcategory()
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>