<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="row">
            <h1 class="text-center">Košík</h1>
            <div v-if="empty == 1" >
              <div class="product-cart-placeholder d-flex" >
                <div class="image-placeholder d-flex">
                  <p class="text-white text-center my-auto ml-3">Produkt</p>
                </div>
                <div class="name-placeholder d-flex">
                  <p class="text-white my-auto ml-2">Popis</p>
                </div>
                <div class="price-placeholder d-flex">
                  <p class="text-white my-auto ">Cena</p>
                </div>
                <div class="attributes-placeholder d-flex">
                  <p class="text-white my-auto ml-2">Možnosti</p>
                </div>
                <div class="count-placeholder d-flex">
                  <p class="text-white my-auto ">Počet</p>
                </div>
              </div>
              <div class="product-cart-box d-flex position-relative" v-for="(product) in products" :key="product.id">
                <button class="clear-button" @click="removeFromCart(product.id)">
                  <i class="fas fa-times position-absolute"></i>
                </button>
                <div class="product-image d-flex">
                  <img :src="product.attributes.image" style="max-width:100%; max-height:100%;" class="my-auto">
                </div>
                <div class="product-name d-flex">
                  <p class="text-center my-auto mx-2 h6"> {{ product.attributes.name }} </p>
                </div>
                <div class="product-price d-flex">
                  <p class="text-success my-auto">{{ product.attributes.price }}Kč</p>
                </div>
                <div class="product-attributes d-flex">
                  <div class="my-auto d-flex" style="flex-wrap: wrap;">
                    <div class="product-select m-2 d-flex" v-for="attribute in product.attributes.attribute_values" :key="attribute.id">
                      <select class="my-auto" :value="cartSession[product.id][0]['values'][attribute.id]" @input="updateCart($event, attribute.id, product.id)">
                        <option :class="(value.attributes.stock == 0) ? 'text-danger bg-outofstock' : ''" :value="value.id" v-for="value in attribute.values" :key="value.id" :disabled="value.attributes.stock == 0">
                          {{ value.attributes.display_value }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="product-count d-flex">
                  <input type="number" class="my-auto" min="0" oninput="if(this.value < 1) {this.value = 1}" :value="cartSession[product.id][0]['count']"  @change="processCount($event, product.id)">
                </div>
              </div>
            </div>
            <div v-else-if="empty == 0">
              <p>Košík je prázdný</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
            <cartTotal :key="componentKey" :cart-session="cartSession"></cartTotal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import cartTotal from './CartTotalComponent.vue'

export default {
  components: {
    cartTotal
  },
  data() {
    return {
      products: "",
      componentKey: "",
      defaultValue: [],
      cartSession: "",
      selectInput: [],
      empty: Number,
      form: {
        values: [],
        count: 1,
      }
    };
  },
  mounted() {
    this.getCartProducts()
    this.getCartSession()
  },
  methods: {
    getCartSession() {
      axios
          .post('/cart/getCartSession', {
          })
          .then((res) => {
          this.cartSession = res.data
          this.checkCart()
          })
    },
    processCount(e, product_id) {
      axios
          .post('/cart/update', {
          count: e.target.value,
          product: product_id
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
    },
    checkCart() {
      if(this.cartSession == undefined || this.cartSession.length == 0) {
        this.empty = 0
      } else {
        this.empty = 1
      }
    },
    getCartProducts() {
      axios
          .get('/api/cart/products')
          .then((res) => {
            this.products = res.data.data;
            this.checkCart()
          })
    },
    updateCart(e, attribute, product_id) {
      axios
            .post('/cart/update', {
              attribute: attribute,
              value: e.target.value,
              product: product_id
            })
            .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
            })
    },
    removeFromCart(product_id) {
      axios
          .post('/cart/remove', {
            product_id: product_id,
          })
          .then((res) => {
            toastr.success(res.data.message)
            this.getCartProducts()
            this.getCartSession()
            this.componentKey += 1
          })
    }
  },
};
</script>