<template>
  <div>
    <div class="cart-total-box border border-dark">
      <h3 class="text-center">Souhrn</h3>
      <hr>
      <div class="d-flex" v-for="product in products" :key="product.id">
          <p class="mr-auto my-1 ml-1">{{ cartSession[product.id][0]['count'] }}x  {{ product.attributes.name }}</p>
          <p class="ml-auto my-1 mr-1">{{ product.attributes.price }}Kč</p>
      </div>
      <hr>
      <div class="d-flex">
          <a :href="getCurrentUrl + '/cart/checkout'" class="btn btn-success mx-auto mb-3">Přejít do pokladny</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['cartSession'],
  data() {
    return {
      products: undefined,
      selectInput: [],
      empty: Number,
      form: {
        values: [],
        count: 1,
      }
    };
  },
  computed: {
    getCurrentUrl() {
      return window.location.origin
    }
  },
  mounted() {
      this.getCartProducts()
  },
  methods: {
    getCartProducts() {
       axios
            .get('/api/cart/products')
            .then((res) => {
                    this.products = res.data.data;
            })
    },
  },
};
</script>