<template>
    <div>
        <div class="container">
            <h1 class="text-center">Potvrzení objednávky</h1>
            <hr>
            <div v-if="empty == 1">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="text-center">Osobní informace</h3>
                        <hr>
                        <p>E-mail: {{ checkoutSession.email }}</p>
                        <p>Křestní jméno: {{ checkoutSession.first_name }}</p>
                        <p>Příjmení: {{ checkoutSession.last_name }}</p>
                        <p>Město: {{ checkoutSession.city }}</p>
                        <p>Ulice: {{ checkoutSession.street }}</p>
                        <p>PSČ: {{ checkoutSession.zipcode }}</p>
                        <p>Telefonní číslo: {{ checkoutSession.phone }}</p>
                    </div>
                    <div class="col-lg-2">
                        <h3 class="text-center">Doprava</h3>
                        <hr>
                        <p v-if="checkoutSession.delivery == 'ppl'">Doprava: PPL</p>
                        <p v-else-if="checkoutSession.delivery == 'ceska_posta'">Doprava: Česká pošta</p>

                        <p v-if="checkoutSession.payment == 'paypal'">Platba: Paypal</p>
                        <p v-else-if="checkoutSession.payment == 'banka'">Platba: Banka</p>
                        <p v-else-if="checkoutSession.payment == 'dobirka'">Platba: Dobírka</p>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="text-center">Zakoupené produkty</h3>
                        <hr>
                        <div class="d-flex cart-review-box">
                            <div class="product-name">
                                <h5>Název produktu</h5>
                            </div>
                            <div class="product-attributes">
                                <h5>Možnosti</h5>
                            </div>
                            <div class="product-count">
                                <h5>Počet</h5>
                            </div>
                            <div class="product-price">
                                <h5>Cena</h5>
                            </div>
                        </div>
                        <hr class="my-1">
                        <div v-for="(product) in products" :key="product.id">
                            <div class="d-flex cart-review-box">
                                <div class="product-name">
                                    <p>{{ product.attributes.name }}</p>
                                </div>
                                <div class="product-attributes">
                                    <p class="my-1" v-for="attribute in product.attributes.attribute_values" :key="attribute.id">
                                        {{ attribute.display_name }} - {{ chooseAttributeValue(cartSession[product.id][0]['values'][attribute.id], attribute) }}
                                    </p>
                                </div>
                                <div class="product-count">
                                    <p>{{ cartSession[product.id][0]['count'] }}</p>
                                </div>
                                <div class="product-price">
                                    <p>{{ product.attributes.price }}Kč</p>
                                </div>
                            </div>
                            <hr class="my-1">
                        </div>
                        <h3 class="text-center">Celková hodnota: {{ totalSession }}Kč</h3>
                    </div>
                </div>
                <hr>
                <div class="d-flex">
                    <button class="btn btn-success mx-auto mt-1" v-on:click="sendOrder()">Odeslat objednávku</button>
                </div>
            </div>
            
            <div v-else-if="empty == 0">
                <p>Košík je prázdný</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  data() {
    return {
      products: "",
      chosenValue: [],
      values: "",
      cartSession: "",
      checkoutSession: "",
      totalSession: "",
      empty: Number,
      baseUrl: "",
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getCartSession()
    this.getCheckoutSession()
    this.getTotalSession()
    this.getCartProducts()
    this.getProductValues()
  },
  methods: {
    getCartProducts() {
       axios
            .get('/api/cart/products')
            .then((res) => {
                this.products = res.data.data;
                this.checkCart()
            })
    },
    getCartSession() {
      axios
           .post('/cart/getCartSession', {
           })
           .then((res) => {
            this.cartSession = res.data
            this.checkCart()
           })
    },
    getCheckoutSession() {
      axios 
          .post('/cart/getCheckoutSession', {
          })
          .then((res) => {
            this.checkoutSession = res.data
          })
    },
    getTotalSession() {
      axios 
          .post('/cart/getTotalSession', {
          })
          .then((res) => {
            this.totalSession = res.data
          })
    },
    chooseAttributeValue(value_id, attribute) {
        for (let i = 0; i < attribute.values.length; i++) {
             if(attribute.values[i].id == value_id) {
                return  attribute.values[i].attributes.display_value 
            }
        }
    },
    getProductValues() {
         axios 
            .get('/api/admin/values/')
            .then((res) => {
                this.values = res.data.data
            })
    },
    sendOrder() {
        axios
            .post('/api/orders', {})
            .then((res) => {
                if(res.data.error) {
                    toastr.error(res.data.error)
                } else {
                    this.$router.push({path: '/cart/success'})
                }
            })
    },
    checkCart() {
      if(this.cartSession == undefined || this.cartSession.length == 0) {
        this.empty = 0
      } else {
        this.empty = 1
      }
    },
  },
};
</script>