<template>
    <span class="pr-3  rounded-pill text-white bg-lightblue h4 d-flex my-auto">
        <span class="px-3 py-1 rounded-pill bg-dark">
            <p class="my-auto">{{ ProductCount }}</p>
        </span>
        <i class="fas fa-shopping-basket h4 text-dark my-auto ml-3" ></i>
    </span>
</template>

<script>
export default {
    props: ['cartSession'],
    data() {
        return {
            ProductCount: 0,
        };
    },
    mounted() {
        this.getProducts()
    },
    methods: {
        countProducts() {
            for (let item in this.products) {
                this.ProductCount++
            }
        },
        getProducts() {
            axios
                .get('/api/cart/products')
                .then((res) => {
                    this.products = res.data.data
                    this.countProducts()
                })
        },
        
    }
}
</script>