<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h1 class="text-center">Pokladna</h1>
          <div v-if="empty == 1">
          <form method="POST" @submit.prevent="addToCheckout()" novalidate="novalidate" @keydown="clearError">
            <div class="checkout-box mb-3">
              <h3>Kontaktní údaje</h3>
                <div class="d-flex my-1">
                  <p class="my-0">E-mail</p>
                  <div v-if="hasError('email')">
                    <p class="text-danger mx-2 my-0">{{ getError('email') }}</p>
                  </div>
                </div>
                <input type="text" name="email" v-model="form.email">

                <div class="d-flex my-1">
                  <p class="my-0">Křestní jméno</p>
                  <div v-if="hasError('first_name')">
                    <p class="text-danger mx-2 my-0">{{ getError('first_name') }}</p>
                  </div>
                </div>
                <input type="text" name="first_name" v-model="form.first_name">

                <div class="d-flex my-1">
                  <p class="my-0">Příjmení</p>
                  <div v-if="hasError('last_name')">
                    <p class="text-danger mx-2 my-0">{{ getError('last_name') }}</p>
                  </div>
                </div>
                <input type="text" name="last_name" v-model="form.last_name">

                <div class="d-flex my-1">
                  <p class="my-0">Město</p>
                  <div v-if="hasError('city')">
                    <p class="text-danger mx-2 my-0">{{ getError('city') }}</p>
                  </div>
                </div>
                <input type="text" name="city" v-model="form.city">

                <div class="d-flex my-1">
                  <p class="my-0">Ulice</p>
                  <div v-if="hasError('street')">
                    <p class="text-danger mx-2 my-0">{{ getError('street') }}</p>
                  </div>
                </div>
                <input type="text" name="street" v-model="form.street">

                <div class="d-flex my-1">
                  <p class="my-0">PSČ</p>
                  <div v-if="hasError('zipcode')">
                    <p class="text-danger mx-2 my-0">{{ getError('zipcode') }}</p>
                  </div>
                </div>
                <input type="text" name="zipcode" v-model="form.zipcode">

                <div class="d-flex my-1">
                  <p class="my-0">Telefonní číslo</p>
                  <div v-if="hasError('phone')">
                    <p class="text-danger mx-2 my-0">{{ getError('phone') }}</p>
                  </div>
                </div>
                <input type="text" name="phone" v-model="form.phone">
            </div>
              <h3>Doprava</h3>
              <div class="payment-option-box d-flex">
                <div class="checkbox-box my-auto">
                  <input type="radio" id="check_ppl" name="preprava" value="ppl" v-model="form.delivery">
                  <label for="check_ppl">PPL (79Kč)</label>
                </div>
                <div class="image-box d-flex my-auto">
                  <img :src="baseUrl + '/images/ppl.jpg'" width="100%;" class="my-auto">
                </div>
              </div>
              <div class="payment-option-box d-flex">
                <div class="checkbox-box my-auto">
                  <input type="radio" id="check_ceskaposta" name="preprava" value="ceska_posta" v-model="form.delivery">
                  <label for="check_ceskaposta">Česká pošta (59Kč)</label>
                </div>
                <div class="image-box d-flex my-auto">
                  <img :src="baseUrl + '/images/ceskaposta.png'" width="100%;" class="my-auto">
                </div>
              </div>
            <h3>Platba</h3>
              <div class="payment-option-box d-flex">
                <div class="checkbox-box my-auto">
                  <input type="radio" id="check_banka" name="platba" value="banka" v-model="form.payment">
                  <label for="check_banka">Bankovní převod (Zdarma)</label>
                </div>
                <div class="image-box d-flex my-auto">
                  <img :src="baseUrl + '/images/banky.png'" width="100%;" class="my-auto">
                </div>
              </div>
              <div class="payment-option-box d-flex">
                <div class="checkbox-box my-auto">
                  <input type="radio" id="check_paypal" name="platba" value="paypal" v-model="form.payment">
                  <label for="check_paypal">Paypal (Zdarma)</label>
                </div>
                <div class="image-box d-flex my-auto">
                  <img :src="baseUrl + '/images/paypal-logo.png'" width="100%;" class="my-auto">
                </div>
              </div>
              <div class="payment-option-box d-flex">
                <div class="checkbox-box my-auto">
                  <input type="radio" id="check_dobirka" name="platba" value="dobirka" v-model="form.payment">
                  <label for="check_dobirka">Dobírka (19Kč)</label>
                </div>
              </div>
              <div class="d-flex my-5" style="width: 80%;">
                <a class="btn btn-secondary mr-auto" :href="baseUrl + '/cart'">Zpět</a>
                <button class="btn btn-success ml-auto" v-on:click="addToCheckout()">Pokračovat</button>
              </div>
            </form>
          </div>
          <div v-else-if="empty == 0">
            <p>Košík je prázdný</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="row">
              <cartTotal :cart-session="cartSession"></cartTotal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import cartTotal from './CartTotalComponent.vue'

export default {
  components: {
    cartTotal
  },
  data() {
    return {
      products: "",
      cartSession: "",
      selectInput: [],
      empty: Number,
      form: {
        email: "",
        first_name: "",
        last_name: "",
        city: "",
        street: "",
        zipcode: "",
        phone: "",
        delivery: "ppl",
        payment: "banka",
      },
      baseUrl: "",
      errors: {},
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getCartSession()
    this.getCheckoutSession()
  },
  methods: {
    getCartSession() {
      axios
           .post('/cart/getCartSession', {
           })
           .then((res) => {
            this.cartSession = res.data
            this.checkCart()
           })
    },
    getCheckoutSession() {
      axios 
          .post('/cart/getCheckoutSession', {
          })
          .then((res) => {
            if(res.data.email) {
            this.form.email = res.data.email
            this.form.first_name = res.data.first_name
            this.form.last_name = res.data.last_name
            this.form.city = res.data.city
            this.form.street = res.data.street
            this.form.zipcode = res.data.zipcode
            this.form.phone = res.data.phone
            this.form.delivery = res.data.delivery
            this.form.payment = res.data.payment
            } 
          })
    },
    addToCheckout() {
      axios
           .post('/cart/checkout/add', {
              email: this.form.email,
              first_name: this.form.first_name,
              last_name: this.form.last_name,
              city: this.form.city,
              street: this.form.street,
              zipcode: this.form.zipcode,
              phone: this.form.phone,
              delivery: this.form.delivery,
              payment: this.form.payment,
           })
           .then((res) => {
             this.$router.push('review') 
           })
           .catch((error) => {
             if(error.response.status == 422) {
               this.errors = error.response.data.errors
             }
           })
    },
    checkCart() {
      if(this.cartSession == undefined || this.cartSession.length == 0) {
        this.empty = 0
      } else {
        this.empty = 1
      }
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>