<template>
    <div>
        <h2 class="text-center">Objednávka úspěšně odeslána.</h2>
        <div class="d-flex">
            <a href="/" class="btn btn-primary mx-auto">Zpět na hlavní stránku</a>
        </div>
    </div>
</template>

<script>
export default {
    props: ['cartSession'],
    data() {
        return {
            ProductCount: 0,
        };
    },
    mounted() {
        this.getProducts()
    },
    methods: {
        countProducts() {
            for (let item in this.products) {
                this.ProductCount++
            }
        },
        getProducts() {
            axios
                .get('/api/cart/products')
                .then((res) => {
                    this.products = res.data.data
                    this.countProducts()
                })
        },
        
    }
}
</script>