<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
        <a :href="baseUrl + '/admin/products'" class="btn btn-secondary ml-auto">
            Zpět
        </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Upravit produkt</h1>
        <hr>
        <div class="col text-center position-relative">
          <button class="btn btn-danger position-absolute end-0" v-on:click="removeProduct()">
            Odebrat produkt
          </button>
          <form method="POST" novalidate="novalidate" enctype="multipart/form-data" @submit.prevent="storeProduct()" @keydown="clearError">
              <h3>Jméno produktu</h3>
              <input type="text" class="d-block mx-auto my-2" v-model="form.name">
              <div v-if="hasError('name')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <h3>Fotka produktu</h3>
              <input type="file" class="d-block mx-auto my-2" @change="processImage">
              <div v-if="hasError('image')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <h3>Cena produktu</h3>
              <input type="number" class="d-block mx-auto my-2" v-model="form.price">
              <div v-if="hasError('price')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <h3>Sleva produktu</h3>
              <input type="number" class="d-block mx-auto my-2" v-model="form.sale">
              <div v-if="hasError('price')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <div class="product-sizes my-auto d-flex justify-content-center">
                <div class="product-select my-2 mx-3">
                  <p class="m-0 text-left">Vybrat kategorii</p>
                  <select v-model="form.category" v-on:change="changeSubcategory()">
                    <option :value="category.id" v-for="category in categories" :key="category.id">
                        {{ category.attributes.display_name }}
                    </option>
                  </select>
                </div>

                <div class="product-select my-2 mx-3">
                  <p class="m-0 text-left">Vybrat podkategorii</p>
                  <select v-model="form.subcategory">
                    <option :value="subcategory.id" v-for="subcategory in subcategories" :key="subcategory.id">
                        {{ subcategory.display_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <h5 class="mx-0 text-center my-2">Vybrat možnost</h5>
                <div class="d-flex justify-content-center">
                  <div class="m-1" v-for="attribute in attributes" :key="attribute.id">
                    <label for="check" class="d-block">{{attribute.attributes.display_name}}</label>
                    <input :id="attribute.id" :value="attribute.id" v-model="form.attributes" type="checkbox" v-on:click="showAttributes(attribute.id, $event)" >
                  </div>
                </div>
              </div>

              <div class="product-sizes my-auto d-flex justify-content-center">
                <div class="product-select my-2 mx-3" style="width:200px;" v-for="selectedAttribute in selectedAttributes" :key="selectedAttribute.id">
                  <h5 class="m-0 text-center">{{ selectedAttribute.attributes.display_name }}</h5>
                  <hr>
                  <div class="d-flex" v-for="value in selectedAttribute.attributes.values" :key="value.id">
                    <div>
                      <input :id="value.id" :value="value.id" v-model="form.values" type="checkbox" @input="updateValues(value.id, $event)">
                      <label for="valueCheck">{{ value.display_value }}</label>
                    </div>
                    <input class="ml-auto" type="number" style="width:50px;" :value="showStock(value.id)" v-if="checkStock(value.id)" @change="updateStock(value.id, $event)">
                  </div>
                </div>
              </div>
                  
              <h3>Popis produktu</h3>
              <textarea cols="30" rows="10" v-model="form.description" style="width: 500px;"></textarea>
              <div v-if="hasError('description')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>
              <hr>
              <div class="d-block">
                <button class="btn btn-success" type="submit">Upravit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: "",
      categories: "",
      subcategories: "",
      attributes: "",
      values: "",
      valueStock: "",
      selectedAttributes: [],
      form: {
        name: "",
        description: "",
        image: "",
        price: "",
        sale: "",
        category: "",
        subcategory: "",
        values: [],
        stock: [],
        attributes: [],
      },
      product_url_id: "",
      permissions: 2,
      errors: {},
    };
  },

  created() {
    this.product_url_id = window.location.href.split('/').pop()
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getAttributes()
    this.getProductValues()
    this.getProduct()
    this.getCategories()
    this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    storeProduct() {
      axios
          .put('/api/products/' + this.product_url_id,{
            name: this.form.name,
            description: this.form.description,
            price: this.form.price,
            sale: this.form.sale,
            category: this.form.category,
            subcategory: this.form.subcategory,
            values: this.form.values,
            stock: this.form.stock,
            attribute_ids: this.form.attributes,
          })
          .then((res) => {
            if(this.form.image) {
              this.storeProductImage(this.product_url_id)
            }
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    storeProductImage(productId) {
      const formData = new FormData
      formData.set('image', this.form.image)
      formData.set('product', productId)
      axios
          .post('/api/products/storeImage', formData, {
            headers: { 'Content-Type': 'multipart/form-data' }
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
    },
    getProduct() {
      axios
          .get('/api/products/' + this.product_url_id)
          .then((res) => {
            
            this.product = res.data.data
            this.form.name = res.data.data.attributes.name
            this.form.description = res.data.data.attributes.description
            this.form.image = res.data.data.attributes.image
            if(res.data.data.attributes.last_price > 0) {
              this.form.price = res.data.data.attributes.last_price
              this.form.sale = res.data.data.attributes.price
            } else {
              this.form.price = res.data.data.attributes.price
              this.form.sale = res.data.data.attributes.last_price
            }
            this.form.category = res.data.data.attributes.category[0].id
            this.form.subcategory = res.data.data.attributes.subcategory[0].id
            this.form.values = this.computeValues()
            this.form.attributes = this.computeAttributes()
            this.defaultStock()
          })
    },
    getProductValues() {
      axios
          .get('/api/products/' + this.product_url_id + '/values')
          .then((res) => {
            this.values = res.data.data
          })
    },
    removeProduct() {
      axios
          .delete('/api/products/' + this.product_url_id)
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
    },
    getCategories() {
      axios 
          .get('/api/categories')
          .then((res) => {
              this.categories = res.data.data
              this.changeSubcategory()
          })
    },
    changeSubcategory() {
      axios
          .get('/api/categories/' + this.form.category)
          .then((res) => {
              this.subcategories = res.data.data.attributes.subcategories
              this.form.subcategory = res.data.data.attributes.subcategories[0].id
          })
    },
    getAttributes() {
      axios
          .get('/api/attributes')
          .then((res) => {
              this.attributes = res.data.data
          })
    },
    showAttributes(id, e) {
      if(e.target.checked) {
        for (var i=0; i < this.attributes.length; i++) {
          if(this.attributes[i]['id'] == id) {
            this.selectedAttributes.push(this.attributes[i])
          }
        }
      } else {
        for (var i=0; i < this.selectedAttributes.length; i++) {
          if(this.selectedAttributes[i]['id'] == id) {
            this.selectedAttributes.splice(i,1)
          }
        }
      }
    },
    showStock(productValue) {
        let index = this.form.stock.findIndex((object => object.value == productValue))
        if(index > -1) {
          return this.form.stock[index].stock
        }
    },
    checkStock(productValue) {
      for (let i=0; i < this.form.values.length; i++) {
          if(this.form.values[i] == productValue) {
            return true
          }
        }
      return false
    },
    updateStock(productValue, e) {
      for (let x=0; x < this.form.values.length; x++) {
          if(this.form.values[x] == productValue) {
            let index = this.form.stock.findIndex((object => object.value == productValue))
            this.form.stock[index].stock = e.target.value
          }
        }
    },
    updateValues(productValue, e) {
      if(e.target.checked) {
        this.form.stock.push({value: productValue, stock: 0})
      } else {
         let index = this.form.stock.findIndex((object => object.value == productValue))
         this.form.stock.splice(index, 1)
      }
    },
    defaultStock() {
      for (var i=0; i < this.values.length; i++) {
        for (var x=0; x < this.form.values.length; x++) {
          if(this.values[i].id == this.form.values[x]) {
              this.form.stock.push({value: this.values[i].id, stock: this.values[i].attributes.stock})
            } 
          }
        }
    },
    computeAttributes() {
      var attribute_ids = []
        for (var i=0; i < this.product.attributes.attribute_values.length; i++) {
            attribute_ids.push(this.product.attributes.attribute_values[i].id)
            this.mountAttributes(this.product.attributes.attribute_values[i].id)
        }
      return attribute_ids
    },
    mountAttributes(id) {
      for (var i=0; i < this.attributes.length; i++) {
          if(this.attributes[i]['id'] == id) {
            this.selectedAttributes.push(this.attributes[i])
          }
        }
    },
    computeValues() {
      var value_ids = []
        for (var i=0; i < this.product.attributes.attribute_values.length; i++) {
          for (var x=0; x < this.product.attributes.attribute_values[i].values.length; x++) {
            value_ids.push(this.product.attributes.attribute_values[i].values[x].id)
          }
        }
      return value_ids
    },
    processImage(e) {
      this.form.image = e.target.files[0];
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>