<template>
    <div v-if="permissions == 1">
        <div class="container">
            <div class="d-flex">
                <a :href="baseUrl + '/admin'" class="btn btn-secondary ml-auto">
                    Zpět
                </a>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h1 class="text-center">Nastavení produktů</h1>
                    <div class="d-flex">
                        <div class="mx-auto my-2">
                            <input type="text" placeholder="Vyhledat produkt">
                            <button class="clear-button ml-2">
                                <i class="fas fa-search h4 my-auto"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="admin-option-box border mx-auto my-2 position-relative" v-for="product in products" :key="product.id">
                        <h5 class="text-center">{{ product.attributes.display_name }}</h5>
                        <div class="d-flex justify-content-center ">
                            <a :href="baseUrl + '/admin/product/edit/' + product.id">
                                <i class="fas fa-pencil-alt position-absolute h3" style="right:5px; top:5px;"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <a class="btn btn-success mx-auto my-2" :href="baseUrl + '/admin/new/product'">Vytvořit nový produkt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="permissions == 0">
        <p class="text-center">Nemáte dostatečná práva</p>
    </div>
</template>

<script>
export default {
  data() {
    return {
      products: "",
      baseUrl: "",
      permissions: 2,
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
      this.getProducts()
      this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
  },
};
</script>