<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
          <a :href="baseUrl + '/admin/attributes'" class="btn btn-secondary ml-auto">
              Zpět
          </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Vytvoření nové možnosti</h1>
        <hr>
        <div class="col text-center">
          <form method="POST" novalidate="novalidate" @submit.prevent="storeAttribute()" @keydown="clearError">
              <h3>Jméno nové možnosti</h3>
              <input type="text" name="display_name" class="d-block mx-auto my-2" v-model="form.display_name">
                <div v-if="hasError('display_name')">
                  <p class="text-danger">Tohle pole je povinné!</p>
                </div>
              <h3>Jméno nové možnosti bez háčků, čárek, speciálních znaků a mezer</h3>
              <input type="text" name="slug" class="d-block mx-auto my-2" v-model="form.slug">
                <div v-if="hasError('slug')">
                  <p class="text-danger">Tohle pole je povinné!</p>
                </div>
              <button class="btn btn-success" type="submit">Vytvořit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        display_name: "",
        slug: "",
      },
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
    this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    storeAttribute() {
      axios
          .post('/api/attributes',{
            display_name: this.form.display_name,
            slug: this.form.slug
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>
