<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
        <a :href="baseUrl + '/admin/attributes'" class="btn btn-secondary ml-auto">
            Zpět
        </a>
      </div>
      <div class="row mt-2">
        <h1 class="text-center">Upravení možnosti</h1>
        <hr>
        <div class="col text-center position-relative" v-if="attribute.length != 0 && attribute != '0'">
          <button class="btn btn-danger ml-auto position-absolute top-0 end-0" v-on:click="deleteAttribute()">Odebrat možnost</button>
          <form method="PUT" novalidate="novalidate" @submit.prevent="editAttribute()" @keydown="clearError">
              <h3>Jméno možnosti</h3>
              <input type="text" name="display_name" class="d-block mx-auto my-2" v-model="form.display_name">
              <div v-if="hasError('display_name')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <h3>Jméno možnosti bez háčků, čárek, speciálních znaků a mezer</h3>
              <input type="text" name="slug" class="d-block mx-auto my-2" v-model="form.slug">
              <div v-if="hasError('slug')">
                <p class="text-danger">Tohle pole je povinné!</p>
              </div>

              <h5>Hodnoty</h5>
                <p v-for="value in attribute.attributes.values" :key="value.id">
                  <a :href="baseUrl + '/admin/edit/value/' + value.id">
                    {{ value.display_value }}
                  </a>
                </p>
              <hr>
              <button class="btn btn-success" type="submit">Upravit</button>
          </form>
        </div>
        <p v-else-if="attribute == '0'" class="text-center">Možnost nebyla nalezena</p>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      attribute: "",
      form: {
        display_name: "",
        slug: "",
      },
      attribute_url_id: "",
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.attribute_url_id = window.location.href.split('/').pop()
    this.baseUrl = window.location.origin
  },
  mounted() {
      this.getAttribute()
      this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getAttribute() {
      axios
          .get('/api/attributes/' + this.attribute_url_id)
          .then((res) => {
              this.form.display_name = res.data.data.attributes.display_name
              this.form.slug = res.data.data.attributes.slug
              this.attribute = res.data.data
          })
          .catch((error) => {
              this.attribute = '0'
          })
    },
    editAttribute() {
      axios
          .put('/api/attributes/' + this.attribute_url_id,{
            display_name: this.form.display_name,
            slug: this.form.slug
          })
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
          .catch((error) => {
            if(error.response.status == 422) {
              this.errors = error.response.data.errors
            }
          })
    },
    deleteAttribute() {
      axios
          .delete('/api/attributes/' + this.attribute_url_id)
          .then((res) => {
            if(res.data.error) {
              toastr.error(res.data.error)
            } else if(res.data.warning) {
              toastr.warning(res.data.warning)
            } else if(res.data.success) {
              toastr.success(res.data.success)
            }
          })
      this.getAttribute()
    },
    hasError(field) {
      return (field in this.errors)
    },
    getError(field) {
      return this.errors[field][0]
    },
    clearError(e) {
      delete this.errors[e.target.name]
    }
  },
};
</script>
