<template>
  <div v-if="permissions == 1">
    <div class="container">
      <div class="d-flex">
        <a :href="baseUrl + '/admin'" class="btn btn-secondary ml-auto">
          Zpět
        </a>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h1 class="text-center">Všechny možnosti:</h1>
          <hr>
          <div class="mx-auto admin-option-box" v-for="attribute in attributes" :key="attribute.id">
            <a :href="baseUrl + '/admin/attributes/edit/' + attribute.id">
              <div class="admin-option-box border border-dark mx-auto my-2 position-relative">
                <h5 class="text-center text-dark mt-1">{{ attribute.attributes.display_name }}</h5>
              </div>
            </a>
          </div>
          <div class="d-flex">
            <a class="btn btn-success mx-auto my-2" :href="baseUrl + '/admin/new/attribute'">Vytvořit novou možnost</a>
          </div>
          <div class="d-flex">
            <a class="btn btn-primary mx-auto my-2" :href="baseUrl + '/admin/new/value'">Vytvořit novou hodnotu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="permissions == 0">
    <p class="text-center">Nemáte dostatečná práva</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      attributes: "",
      baseUrl: "",
      permissions: 2,
      errors: {},
    };
  },
  created() {
    this.baseUrl = window.location.origin
  },
  mounted() {
      this.getAttributes()
      this.getPermissions()
  },
  methods: {
    getPermissions() {
      axios
          .get('/api/permissions')
          .then((res) => {
            this.permissions = res.data.show
          })
    },
    getAttributes() {
      axios
          .get('/api/attributes/')
          .then((res) => {
              this.attributes = res.data.data
          })
    },
  },
};
</script>
